.error {
  background-color: red;
  width: 20rem;
  margin: 0 auto;
  border-radius: 5px;
}

.changeInfo {
  list-style: none;
  padding: 2rem 0;
  text-align: center;
  width: 80%;
  max-width: 25rem;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--maindiv-background-color-trans8);
}

.changeInfo label {
  color: var(--special-font-color);
  display: inline-block;
  width: 10rem;
  margin: 0.5rem 0;
}

.newpassword {
  color: rgb(237, 103, 103) !important;
}
.buttondiv {
  margin: 1rem 0 0 0;
}

@media (max-width: 780px) {
  .changeInfo {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}
