.maindiv {
  text-align: center;
  margin-bottom: 6rem;
}

.maindiv h1 {
  margin-bottom: 3rem;
}

.slider {
  background-color: none;
  color: black;
  text-align: center;
}

.slider img {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

@media (max-width: 780px) {
  .slider img {
    width: 100%;
    max-height: 28rem;
    object-fit: cover;
  }
}
