.maindiv {
  width: 60rem;
  text-align: center;
  margin: 3rem auto;
}
.maindiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.maindiv label {
  display: block;
  width: 10rem;
  align-items: center;
}

.maindiv input {
  width: 23rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}

.maindiv input:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-font-color);
}

.maindiv input::placeholder {
  font-size: 0.8rem;
  color: rgba(60, 60, 60, 0.573);
  font-weight: 400;
  text-align: center;
}

.maindiv textarea {
  width: 23rem;
  resize: none;
}
.buttonsdiv {
  justify-content: flex-end;
}
