.ul {
  list-style: none;
  padding: 0 3rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.ul li {
  margin: 1rem 2rem;
  width: fit-content;
}

@media (max-width: 780px) {
  .ul {
    width: 100%;
    height: 460px;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));

    gap: 0.2rem;
  }

  .ul li {
    margin: 0.5rem auto;
    width: fit-content;
  }
}
