.header {
  width: 95%;
  height: 5rem;
  text-align: center;
  margin: 2rem 0;
  z-index: 2;
}

.header li {
  width: max-content;
  font-size: 1.2rem;
  margin: 0 2rem;
}

.header li:hover {
  cursor: pointer;
}

.header p {
  color: rgba(159, 159, 159, 0.549);
}
