.notification {
  width: 100%;
  text-align: center;
}

.notification div {
  width: 100%;
}

.error {
  background-color: red !important;
}
.pending {
  background-color: brown !important;
}
.success {
  background-color: green !important;
}
