.maindiv {
  display: flex;
  width: 80%;
  text-align: center;
  margin: 3rem auto;
  padding: 1rem;
  padding-bottom: 20rem;
  border-radius: 10px;
}
.maindiv h4 {
  margin: 0.5rem;
}

.maindiv h2 {
  margin: 0;
  padding: 0;
  color: var(--special-font-color);
}
.maindiv li {
  color: rgb(181, 181, 181);
}
.maindiv ul {
  list-style: none;
  padding: 0;
}

.selector {
  width: 30%;
  min-width: 15rem;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.767);
  box-shadow: 1px 1px 10px rgba(86, 86, 86, 0.588);
  margin-right: 0.5rem;
}

.category li {
  margin: 0.5rem 0;
}
.subSelector {
  max-height: 23rem;
  margin: 0;
  overflow-y: scroll;
}
.subSelector li {
  margin: 0.5rem 0;
}
.calculator {
  padding: 1rem;
  border-radius: 5px;
  width: 70%;
  min-width: 30rem;
  background-color: rgba(0, 0, 0, 0.767);
  box-shadow: 1px 1px 10px rgba(98, 98, 98, 0.588);
}

.calculator ul {
  display: grid;
  background-color: rgba(0, 0, 0, 0.341);
  border-radius: 5px;
  padding: 0.25rem;
  grid-template-columns: 26% 15% 30% 27%;
}

.calculatorHeader {
  background-color: rgba(0, 0, 0, 0) !important;
}

.calculatorHeader li {
  color: white;
  font-size: 1.1rem;
}
.unit {
  color: rgb(146, 146, 146);
  font-size: 0.8rem;
  display: inline-block;
}
.calculatorFoodList {
  height: 2.5rem;
  padding: 0.5rem;
  align-items: center;
}
.calculatorFoodList li {
  display: flex;
  justify-content: center;
  line-height: 110%;
}

.calculator input {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: rgb(181, 181, 181);
  border: none;
  width: 5rem;
  font-size: 1rem;
  margin: auto;
}

.calculator span {
  font-size: 0.8;
}
.total {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}
.quantity {
  background-color: rgb(116, 116, 116) !important;
  border-radius: 5px;
}

.totalCalories {
  width: 10rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgb(54, 54, 54);
}

.totalCalories input {
  font-size: 1.3rem;
  color: white;
}

.buttondiv {
  margin: 1rem;
}

@media (max-width: 780px) {
  .maindiv {
    flex-direction: column;
    width: 100%;
    margin: -1.3rem auto 4.5rem auto;
    padding: 0;
  }
  .maindiv hr {
    margin: 0.2rem;
  }
  .category li,
  .subSelector li {
    margin: 0.1rem 0;
  }
  .selector {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .selector h4,
  .selector h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  .subSelector {
    max-height: 16rem;
    overflow-y: scroll;
  }
  .calculator {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4rem;
    min-width: 1rem;
    max-height: 25rem;
    overflow-y: scroll;
  }
  .calculator h2 {
    font-size: 1.2rem;
  }
  .calculatorHeader {
    margin: 0;
  }
  .calculatorHeader li {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .caloriepergram {
    display: none !important;
  }
  .calculator ul {
    grid-template-columns: 35% 25% 40%;
  }
  .calculatorFoodList {
    display: grid;
    grid-template-columns: 35% 25% 40%;
    margin: 0;
  }
  .totalCalories {
    padding: 0;
  }
}
