.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  margin: 0 1rem;
  display: flex;
  justify-items: center;
  transition: ease-in-out 0.1s;
}

.header li:hover {
  transform: scale(1.1);
}

.header button {
  font-family: inherit;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
}

.header button:hover {
  cursor: pointer;
}

.logout {
  font-family: inherit;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
}

.logout:hover {
  cursor: pointer;
}
