@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  background-image: url("/image/main-background/lidye-1Shk_PkNkNw-unsplash.jpg");
  background-size: cover;
  font-family: "Hahmlet", serif;
  color: white;

  --button-hover-background-color: rgb(132, 132, 132);
  --button-hover-font-color: rgb(231, 231, 231);

  --input-hover-backroung-color: rgb(210, 210, 210);

  --maindiv-background-color-trans2: rgba(60, 60, 60, 0.2);
  --maindiv-background-color-trans4: rgba(60, 60, 60, 0.4);
  --maindiv-background-color-trans6: rgba(60, 60, 60, 0.6);
  --maindiv-background-color-trans8: rgba(60, 60, 60, 0.8);
  --maindiv-background-color: rgb(49, 49, 49);
  --special-font-color: rgb(253, 255, 152);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
  }
}
